.DS_Store
.git.bak/
.gradle/
.idea/
app/*.log
app/app.iml
app/build/
app/*.log
app/GoSpotCheck_Release_Key
app/keystore.properties
app/debug.keystore
app/production.keystore
app/mirror
app/src/main/res/values/com_crashlytics_export_strings.xml
test/build/
test/test.iml
src/main/assets/crashlytics-build.properties
bin/
classes/res-cache/
gen/
out/
proguard_logs/
tmp/
local.properties
target/
src/main/res/values/com_crashlytics_export_strings.xml
project.properties
gospotcheck.iml
gospotcheck-android.iml
gen-external-apklibs
classes
build/*/**
build/intermediates/*
android.iml
.env
fastlane/report.xml
fastlane/test_output/
.bundle/
vendor/
tests.txt
*.iml
*.xcuserstate
